<div class="container">
  <div class="text-center">
    <h1>Are you a Trivia stud?</h1>
    <br />
      <p> <b>Question:</b> <%= @question.description %> </p>
        
      <p> <b>Answer:</b> <%= @question.answer %> </p>
        
      <p> <b>FakeOne:</b> <%= @question.bad_answer_one %> </p>
        
      <p> <b>FakeTwo:</b> <%= @question.bad_answer_two %> </p>
        
      <p> <b>IsCorrect:</b> <%= @question.is_correct %> </p>
        
      <p> <b>Score:</b> <%= @question.score %> </p>
        
      <p> <b>Category:</b> <%= @question.category %> </p>
        
      <p> <b>QuestionID:</b> <%= @question.question_id %> </p>
        
      <p> <b>UserID:</b> <%= @question.user_id %> </p>
  </div>
</div>
