<div class="container">
  <div class="ghostly-container text-center">
     <h1> <%= @questions.description %> </h1>
    <br />

    <% @answers.each do |answer_choice| %>
      <%= simple_form_for @questions do |f| %>
        <%= f.input :answer_choice %>
        <%= f.input :answer_choice %>
        <%= f.input :answer_choice %>
        <%= f.button :submit %>
      <% end %>
    <% end %>
  </div>
</div>